name: CD

on:
  workflow_dispatch: {}
  workflow_run:
    workflows: ['CI']
    branches: ['main']
    types:
      - completed

env:
  TZ: UTC

jobs:
  deploy:
    if: {{"${{ (github.ref == 'refs/heads/main' && github.event.workflow_run.conclusion == 'success' && vars.AUTODEPLOY == 'true') || github.event_name == 'workflow_dispatch' }}"}}
    uses: Yproximite/actions/.github/workflows/sylius_build.yml@master
    with:
      project: "{{ .Vars.system.app_name }}"
    secrets:
      registry_token: {{"${{ secrets.SCW_CONTAINER_REGISTRY_TOKEN }}"}}
      rollout_token: {{"${{ secrets.GH_ROLLOUT_TOKEN }}"}}
      composer_auth: {{"${{ secrets.COMPOSER_AUTH }}"}}
