/.cache/
/.docker/

tests
nodes_modules
doc
laradock
vendor
.editorconfig
resources/booking_widget/node_modules
resources/booking_widget/package-lock.json
resources/click_and_collect_widget/node_modules
resources/click_and_collect_widget/package-lock.json
resources/gift_vouchers_widget/node_modules
resources/gift_vouchers_widget/package-lock.json
storage/*.index
storage/logs/*.log
storage/logs/*.err
storage/fonts/*
storage/debugbar/*
storage/framework/views/*
storage/framework/sessions/*
storage/framework/cache/*
