name: Manala Sync

on:
  workflow_dispatch: {}
  repository_dispatch:
    types: [synchronize]

env:
  TZ: UTC

jobs:
  synchronize:
    if: {{"${{ github.ref == 'refs/heads/master' }}"}}
    uses: Yproximite/actions/.github/workflows/manala_synchronize.yml@master
    secrets:
      token: {{"${{ secrets.GH_MANALA_SYNC_TOKEN }}"}}
