web-nginx: nginx
web-fpm: php-fpm -F
worker-main: ./bin/console messenger:consume main --limit 10
worker-promotion: ./bin/console messenger:consume catalog_promotion_removal --limit 10
worker-product-import-medias: ./bin/console messenger:consume import_medias --limit 10
worker-mails: ./bin/console messenger:consume mails --limit 10
worker-pdfs: ./bin/console messenger:consume pdfs --limit 10
{{- with .Vars.system.run.postdeploy }}
postdeploy: {{ . }}
{{- end }}
